---
title: Blog
sidebar: false
keywords: news, blog, updates, release notes, announcements
permalink: blog.html
toc: false
folder: blog
comments: false
---
<div class="home">

    <div class="post-list">
	        <p><a href="feed.xml" class="btn btn-primary navbar-btn cursorNorm" role="button">Blog RSS{{tag}}</a></p>

        {% for post in site.posts limit:10 %}


    <h2><a class="post-link" href="{{ post.url | remove: "/" }}">{{ post.title }}</a></h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} /
            {% for tag in post.tags %}

                <a href="{{ "tag_" | append: tag | append: ".html"}}">{{tag}}</a>{% unless forloop.last %}, {% endunless%}

                {% endfor %}</span>
        <p>{% if page.summary %} {{ page.summary | strip_html | strip_newlines | truncate: 160 }} {% else %} {{ post.content | truncatewords: 50 | strip_html }} {% endif %}</p>

        {% endfor %}


<hr />
        <p>이 페이지에는 최신 10개의 포스트만 표시됩니다. <a href="blog_archive.html">Blog Archive</a>에서 지금까지의 모든 포스트를 확인해보세요. </p>
    </div>
</div>
